* {
    padding: 0;
    margin: 0;

    text-decoration: none;
}

.esconder {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.ativo {
    font-weight: bold;
    background-color: #8EC5FC;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*                  Página inial                    */
.main-page {
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.669);
    padding: 30px;
    border-radius: 30px;
    margin: 10px;
}

.main-page h1 {
    font-size: 4rem;
    text-align: center;
    font-style: oblique;
}

/*                  Numero de rodadas                    */
.escolher-rodadas-opções {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
}

.escolher-rodadas h2 {
    font-size: 1.6rem;
}

.escolher-rodadas-opções button {
    font-size: 1.2rem;
    width: 34%;
    border: none;
    padding: 15px 0px 15px 0px;
}

.escolher-rodadas-opções button:hover {
    font-weight: bold;
    color: white;
    background-color: #8EC5FC;
}


/*                  Escolher Dificuldade                    */
.escolher-dificuldade-opções {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
}

.escolher-dificuldade h2 {
    font-size: 1.6em;
}

.escolher-dificuldade-opções button {
    font-size: 1.2rem;
    width: 34%;
    border: none;
    padding: 15px 0px 15px 0px;
}

.escolher-dificuldade-opções button:hover {
    color: white;
    font-weight: bold;
    background-color: #8EC5FC;
}

.escolher-dificuldade p {
    text-align: center;
    font-size: 1.3rem;
}

/*                  botão de começar                    */
.botão-jogar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botão-jogar button {
    font-size: 1.4rem;
    background-color: #6eb3f8;
    border-radius: 15px;
    width: 34%;
    border: none;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.botão-jogar button:hover {
    color: white;
    background-color: #54a5f6;
}



/*                  Página do jogo                    */
.jogo-page {
    display: flex;
    flex-direction: column;
}

.jogo-page-titulo h2 {
    text-align: center;
    font-size: 3rem;
    padding: 15px;
}

.tempo {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    font-size: 1.5rem;
}

.placar {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;

}

.placar div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0ebf7;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

#vicX,
#vitoriasX {
    color: #FF0000;
}

#vicO,
#vitoriasO {
    color: #6284FF;
}


.placar span {
    color: black;
}


.tabuleiro-linha {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 5px;
    margin: 5px 0 5px 0;
}

.tabuleiro-linha div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*                  Area do jogo                    */
.quadrado {
    background-color: white;
    color: black;
    display: inline-block;
    width: 20vmin;
    height: 20vmin;
    font-size: 60px;
    cursor: pointer;
}

#tempoRestante{
    font-weight: bold;
    color: #fdfd96;
}