* {
    text-align: center;
}

.esconder {
    display: none;
}

.quadrado {
    background-color: #f2f2e9;
    color: black;
    display: inline-block;
    width: 20vmin;
    height: 20vmin;
    text-align: center;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
}